

/* body
{
   background-image:url("bibli.jpg");
   opacity: 0.5;
}

table {
	background-color : white;
	opacity: 0.8;
	
}

banniere {
	background-color : white;
	opacity: 0.8;
	 top: 0px;
	 position: fixed;
} */